 
<div id="image" ng-file-drop ng-file-select ng-model="files" class="drop-box" 
        drag-over-class="dragover" ng-multiple="false" allow-dir="false"
        accept="image/*">
    <canvas id="Canvas0" width="320" height="200"></canvas>  
</div>
<p>Drag and drop or click on image to change.</p>
<p>Style: <select ng-model="selectedProfile" 
            ng-options="profile.key for profile in profiles" 
            ng-change="convert()">
    </select>
</p>
<p>
    Dithering: <select ng-model="selectedDither" 
            ng-options="dither.key for dither in dithers" 
            ng-change="convert()">
    </select>
</p>
