 
<div id="image" ng-file-drop ng-file-select ng-model="files" class="drop-box" 
        drag-over-class="dragover" ng-multiple="false" allow-dir="false"
        accept="image/*">
    <img pixel-image="mainImage"/><img pixel-image="testImage"/>
</div>
<div ng-file-drop ng-file-select ng-model="koalafile" class="drop-box" 
        drag-over-class="dragover" ng-multiple="false" allow-dir="false">
    <img pixel-image="koalaImage"/>
</div>
<br/>
<img ng-repeat="cmap in colorMap" pixel-image="cmap"/>


